.top-navigation {
  border-bottom: 1px solid white;

  &__menu {
    list-style: none;
    display: flex;

    &__list {
      display: flex;
      margin-right: 20px;
      font-weight: bold;

      a {
        padding: 20px 0;
      }
    }
  }
}
