* {
  margin: 0;
  padding: 0;
}

:root {
  --bg1: #242629;
}

body {
  background: #16161a;
  color: #94a1b2;
}

a {
  color: #3da9fc;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fffffe;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}
